<!DOCTYPE html>

<html>
    
<head> 
    <title>Weather</title>
    <link rel="icon" href='/img/weather.png'>
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
     --}}
</head>

<body> 
    <div class='main-content'> 
        {{>header}}
        <p>Use this page to get your Weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{!-- <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidzF1amF5IiwiYSI6ImNrZzJxcmpuaTAzZXEycmxuOTA3OW1ldmEifQ.9W3C2Qz_QAHrhWm9e9SDLw';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
        });
    </script> --}}

 {{>footer}}
 <script src="/js/app.js"></script>

</body>
 
</html>